 background-position: center center;
}
/* sentence line */

#flat .line-break {
 background: linear-gradient(60deg, #008000, #ffd700, #dc143c);
 width: 100%;
 margin: 0 auto;
}

#flat .line-break2 {
 background: linear-gradient(60deg, #ffd700, #008000, #dc143c);
 width: 100%;
 margin: 0 auto;
}

#flat .line-break3 {
 background: linear-gradient(60deg, #dc143c, #008000, #ffd700);
 width: 100%;
 margin: 0 auto;
}
@media screen and (max-width: 959px) and (min-width: 768px) {
 #flat .block {
  padding: 40px;
  width: 620px;
 }
}
@media screen and (max-width: 767px) {
 #flat .block {
  padding: 30px;
  width: 420px;
 }
 #flat h2 {
  font-size: 30px;
 }
 #flat .block {
  padding: 30px;
 }
 #flat .parallax-one, #flat .parallax-two, #flat .parallax-three {
  padding-top: 100px;
  padding-bottom: 100px;
 }
}
@media screen and (max-width: 479px) {
 #flat .block {
  padding: 30px 15px;
  width: 290px;
 }
}